<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    * {
        font-family: 'Poppins', sans-serif;
    }
</style>
</head>
<body>

<section class="pb-32 max-sm:pb-10 md:pb-44 bg-[url('https://raw.githubusercontent.com/prebuiltui/prebuiltui/main/assets/hero/bg-with-grid.png')] bg-cover bg-center bg-no-repeat text-slate-800 text-sm">
    <%- include('../shared/Navbar') %>
    <div class="relative flex flex-col-reverse gap-10 md:flex-row px-4 md:px-16 lg:px-24 xl:px-32 mt-12 md:mt-32"> 
        <div class="max-md:text-center">
            <h5 class="text-4xl md:text-6xl/[76px] font-semibold max-w-2xl text-slate-900">
                Grow your network fuel your journey
            </h5>

            <p class="text-sm md:text-base max-w-md mt-6 max-md:px-2 text-slate-600">
                Meet like-minded people, collaborate on ideas, and grow your personal and professional network.
            </p>
            <a id="scrollToJobs" onclick="location.href='#jobs-section'">
            <div class="flex items-center gap-4 mt-6 max-sm:w-full max-sm:justify-center" class="cursor-pointer">
                <div class="flex w-[45%] max-sm:w-full items-center rounded-full border border-gray-400 px-3 py-1">
                    <input type="text" placeholder="Search for job here.." class="w-full h-8 outline-none"/>
                    <img src="/images/search2.png" class="w-5 h-5" alt="" />
                </div>
                <button class="bg-black text-slate-50 rounded-full px-9 py-2.5">Search</button>
            </div>
            </a>
            <div class="flex items-center mt-9">
                <div class="flex -space-x-3.5 pr-3">
                    <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?q=80&w=200" alt="image"
                        class="size-10 border-2 border-white rounded-full hover:-translate-y-px transition z-1" />
                    <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=200" alt="image"
                        class="size-10 border-2 border-white rounded-full hover:-translate-y-px transition z-[2]" />
                    <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=200&h=200&auto=format&fit=crop"
                        alt="image"
                        class="size-10 border-2 border-white rounded-full hover:-translate-y-px transition z-[3]" />
                    <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?w=200&auto=format&fit=crop&q=60"
                        alt="image"
                        class="size-10 border-2 border-white rounded-full hover:-translate-y-px transition z-[4]" />
                    <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?w=200&auto=format&fit=crop&q=60"
                        alt="image"
                        class="size-10 border-2 border-white rounded-full hover:-translate-y-px transition z-[4]" />
                </div>
                <div>
                    <div class="flex items-center gap-px">
                        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.85536 0.463527C6.00504 0.00287118 6.65674 0.00287028 6.80642 0.463526L7.82681 3.60397C7.89375 3.80998 8.08572 3.94946 8.30234 3.94946H11.6044C12.0888 3.94946 12.2901 4.56926 11.8983 4.85397L9.22687 6.79486C9.05162 6.92219 8.97829 7.14787 9.04523 7.35388L10.0656 10.4943C10.2153 10.955 9.68806 11.338 9.2962 11.0533L6.62478 9.11244C6.44954 8.98512 6.21224 8.98512 6.037 9.11244L3.36558 11.0533C2.97372 11.338 2.44648 10.955 2.59616 10.4943L3.61655 7.35388C3.68349 7.14787 3.61016 6.92219 3.43491 6.79486L0.763497 4.85397C0.37164 4.56927 0.573027 3.94946 1.05739 3.94946H4.35944C4.57606 3.94946 4.76803 3.80998 4.83497 3.60397L5.85536 0.463527Z" fill="#FF8F20"/>
                        </svg>
                        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.85536 0.463527C6.00504 0.00287118 6.65674 0.00287028 6.80642 0.463526L7.82681 3.60397C7.89375 3.80998 8.08572 3.94946 8.30234 3.94946H11.6044C12.0888 3.94946 12.2901 4.56926 11.8983 4.85397L9.22687 6.79486C9.05162 6.92219 8.97829 7.14787 9.04523 7.35388L10.0656 10.4943C10.2153 10.955 9.68806 11.338 9.2962 11.0533L6.62478 9.11244C6.44954 8.98512 6.21224 8.98512 6.037 9.11244L3.36558 11.0533C2.97372 11.338 2.44648 10.955 2.59616 10.4943L3.61655 7.35388C3.68349 7.14787 3.61016 6.92219 3.43491 6.79486L0.763497 4.85397C0.37164 4.56927 0.573027 3.94946 1.05739 3.94946H4.35944C4.57606 3.94946 4.76803 3.80998 4.83497 3.60397L5.85536 0.463527Z" fill="#FF8F20"/>
                        </svg>
                        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.85536 0.463527C6.00504 0.00287118 6.65674 0.00287028 6.80642 0.463526L7.82681 3.60397C7.89375 3.80998 8.08572 3.94946 8.30234 3.94946H11.6044C12.0888 3.94946 12.2901 4.56926 11.8983 4.85397L9.22687 6.79486C9.05162 6.92219 8.97829 7.14787 9.04523 7.35388L10.0656 10.4943C10.2153 10.955 9.68806 11.338 9.2962 11.0533L6.62478 9.11244C6.44954 8.98512 6.21224 8.98512 6.037 9.11244L3.36558 11.0533C2.97372 11.338 2.44648 10.955 2.59616 10.4943L3.61655 7.35388C3.68349 7.14787 3.61016 6.92219 3.43491 6.79486L0.763497 4.85397C0.37164 4.56927 0.573027 3.94946 1.05739 3.94946H4.35944C4.57606 3.94946 4.76803 3.80998 4.83497 3.60397L5.85536 0.463527Z" fill="#FF8F20"/>
                        </svg>
                        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.85536 0.463527C6.00504 0.00287118 6.65674 0.00287028 6.80642 0.463526L7.82681 3.60397C7.89375 3.80998 8.08572 3.94946 8.30234 3.94946H11.6044C12.0888 3.94946 12.2901 4.56926 11.8983 4.85397L9.22687 6.79486C9.05162 6.92219 8.97829 7.14787 9.04523 7.35388L10.0656 10.4943C10.2153 10.955 9.68806 11.338 9.2962 11.0533L6.62478 9.11244C6.44954 8.98512 6.21224 8.98512 6.037 9.11244L3.36558 11.0533C2.97372 11.338 2.44648 10.955 2.59616 10.4943L3.61655 7.35388C3.68349 7.14787 3.61016 6.92219 3.43491 6.79486L0.763497 4.85397C0.37164 4.56927 0.573027 3.94946 1.05739 3.94946H4.35944C4.57606 3.94946 4.76803 3.80998 4.83497 3.60397L5.85536 0.463527Z" fill="#FF8F20"/>
                        </svg>
                        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.85536 0.463527C6.00504 0.00287118 6.65674 0.00287028 6.80642 0.463526L7.82681 3.60397C7.89375 3.80998 8.08572 3.94946 8.30234 3.94946H11.6044C12.0888 3.94946 12.2901 4.56926 11.8983 4.85397L9.22687 6.79486C9.05162 6.92219 8.97829 7.14787 9.04523 7.35388L10.0656 10.4943C10.2153 10.955 9.68806 11.338 9.2962 11.0533L6.62478 9.11244C6.44954 8.98512 6.21224 8.98512 6.037 9.11244L3.36558 11.0533C2.97372 11.338 2.44648 10.955 2.59616 10.4943L3.61655 7.35388C3.68349 7.14787 3.61016 6.92219 3.43491 6.79486L0.763497 4.85397C0.37164 4.56927 0.573027 3.94946 1.05739 3.94946H4.35944C4.57606 3.94946 4.76803 3.80998 4.83497 3.60397L5.85536 0.463527Z" fill="#FF8F20"/>
                        </svg>
                    </div>
                    <p class="text-sm text-slate-500">Used by 1,000+ people</p>
                </div>
            </div>
        </div>
        <div class="w-full md:max-w-xs lg:max-w-lg">
            <img class="w-full h-auto" src="https://raw.githubusercontent.com/prebuiltui/prebuiltui/main/assets/hero/users-group.png" alt="" />
        </div>
        <div class="absolute z-50 left-[2%] -top-[60%] w-[350px] max-sm:w-[200px] max-sm:h-[200px] h-[350px] bg-gradient-to-br from-pink-500 via-pink-400 to-transparent rounded-full blur-[130px] opacity-40"></div>
        <div class="absolute z-50 left-[30%] w-[350px] h-[350px] max-sm:w-[200px] max-sm:h-[200px] bg-gradient-to-br from-pink-500 via-pink-400 to-transparent rounded-full blur-[130px] opacity-70"></div>
    </div>
</section>

<%- include('DiscoverJobs') %>
<%- include('Testimonial') %>
<%- include('Subscribe') %>
<%- include('Footer') %>

<script>
    document
  .getElementById("scrollToJobs")
  .addEventListener("click", () => {
    document
      .getElementById("jobs-section")
      .scrollIntoView({ behavior: "smooth" });
  });


    const menu = document.getElementById('menu');
    const closeMenu = document.getElementById('close-menu');
    const openMenu = document.getElementById('open-menu');

    openMenu.addEventListener('click', () => {
        menu.classList.remove('max-md:-left-full');
        menu.classList.add('max-md:left-0');
    });

    function closeNavbar() {
        menu.classList.remove('max-md:left-0');
        menu.classList.add('max-md:-left-full');
    }

    closeMenu.addEventListener('click', () => {
        closeNavbar();   
    });
</script>
</body>
</html>
